.blob {
  border-radius: 1em;

  h2 {
    margin: 0;
    padding: 1em;
  }
}

.interfaces div {
  background-color: #e90;
  font-size: 1.55em;
  margin: 0 .75em;
  padding: .25em;
}


.reveal table {
  border-collapse: collapse;

  td, th {
    border: 1px solid #000;
    padding: .25em;
  }

  thead {
    font-weight: bold;
  }
}
