@import '../node_modules/reveal.js/css/reveal';
@import '../node_modules/reveal.js/css/theme/template/mixins';
@import '../node_modules/reveal.js/css/theme/template/settings';

$mainColor: #333;
$headingColor: #333;
$backgroundColor: #fff;
$headingTextShadow: none;
$selectionBackgroundColor: #c22;
$linkColor: #119;
$linkColorHover: #119;
$headingLineHeight: 1em;

@import '../node_modules/reveal.js/css/theme/template/theme';

.reveal pre {
  background-color: #f5f5f1;
  border: 1px solid #ccccc8;
  border-radius: 4px;
  box-shadow: none;
}

pre code {
  background-color: #f5f5f1;
}

.reveal .controls {
  left: 10px;
  right: auto;
}

.reveal li {
  padding-bottom: .5em;
}

.reveal section img {
  background: none;
  border: 0;
  box-shadow: none;
}

.reveal section ul ol {
  padding-left: 1em;
}
