$mainColor: #333;
$headingColor: $mainColor;
$backgroundColor: #fff;
$headingLineHeight: 1em;
$headingTextShadow: none;
$linkColor: #3776ab;
$linkColorHover: #3776ab;
$selectionBackgroundColor: #c22;
